language: go

go:
  - 1.8

install:
  - go get github.com/apex/go-apex
  - go get github.com/aws/aws-sdk-go
  - go get github.com/pkg/errors
  - go get github.com/stretchr/testify
  - go get gopkg.in/urfave/cli.v1
  - go get github.com/go-sql-driver/mysql
  - go get github.com/go-sql-driver/mysql
  - go get github.com/lib/pq

services:
  - mysql
  - postgresql

env:
  - MYSQL_TEST_USER=root MYSQL_TEST_PASS="" MYSQL_TEST_PROT="" POSTGRES_TEST_USER=postgres POSTGRES_TEST_PASS=""

before_script:
  - psql  -c 'CREATE DATABASE altairsix;' -U postgres
  - mysql -e 'CREATE DATABASE IF NOT EXISTS altairsix;'
